<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
    by <a href="https://www.linkedin.com/in/nikhilbohra2601/" target="_blank">Nikhil Bohra</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/" target="_blank">About</a></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>